[submodule "lb/ebpf/libbpf"]
	path = lb/ebpf/libbpf
	url = https://github.com/libbpf/libbpf.git

[submodule "lb/io_uring/liburing"]
	path = lb/io_uring/liburing
	url = https://github.com/axboe/liburing.git
