aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
attrs==25.1.0
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
frozenlist==1.5.0
idna==3.10
kiwisolver==1.4.5
matplotlib==3.8.4
multidict==6.1.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
propcache==0.3.0
pyarrow==16.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
seaborn==0.13.2
six==1.16.0
tzdata==2024.1
yarl==1.18.3
